$base-color: rgba(237,100,0,1);
$menu-item-active-border-color: rgba(237,100,0,1);
$panel-base-color: rgba(237,100,0,1);
$panel-border-color: rgba(237,100,0,1);
$panel-frame-base-color: rgba(237,100,0,1);
$panel-header-background-color: rgba(237,100,0,1);
$panel-header-border-color: rgba(237,100,0,1);
$panel-wrap-border-color: rgba(237,100,0,1);